// app global css in SCSS form

/* SCSS syntax is similar to css with addition of variables,
nesting, mixins(@mixin-@include) with arguments, and functions. */

/* Scroll Bar start*/
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(121, 190, 139, 0.9);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $contrast;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000;
}
/* Scroll Bar end*/
.vl {
  background-color: green;
  width: 3px;
  height: 2rem;
  border-radius: 10px;
}

/* header doclayout start */
.header-image {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.ds {
  transform: scale(0.4) translateX(-50%);
}

.scl-dw {
  transform: scale(0.8);
}
.scl-x4 {
  transform: scale(4);
}

.enlarge {
  transform: scale(1.45);
}

.lfls {
  width: fit-content;
}
.rlu:link,
rlu:visited,
rlu:hover,
rlu:active {
  text-decoration: none;
}

.flinks {
  color: white;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
}
.flinks:hover {
  text-shadow: 10px 10px 25px black;
  color: #eedd82;
}

.GNL__toolbar-input {
  width: 50%;
}
/* header doclayout end */

/* Footer doclayout Start*/
.ms {
  transform: scale(0.5);
}

/* Footer doclayout Start*/

// app global css in SCSS form
* {
  margin: 0;
  padding: 0;
}

@mixin align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: $secondary;
  font-family: sans-serif;
  scroll-behavior: smooth;

  .space {
    height: 100vh;
    background-color: $secondary;
  }

  .parallax_wrapper {
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;

    .parallax_group {
      height: 100vh;
      transform-style: preserve-3d;
    }

    .parallax_layer {
      position: absolute;
      inset: 0;
      @include align-center();
    }

    .intro_screen {
      height: 100vh;
      background-color: $secondary;
      @include align-center();
      transform: translateZ(-18000px) scale(64);
    }
    .outro_screen {
      height: 100vh;
      background-color: $secondary;
      @include align-center();
    }

    .base_layer {
      transform: translateY(9vh) translateZ(-300px) scale(2);
      z-index: 1;

      .my-card:hover {
        transform: scale(1.1);
        border: 7px solid rgb(24, 24, 24);
        border-radius: 20px;
      }
    }
    .bot_layer {
      transform: translateZ(-150px) scale(1.5);
      color: yellow;
      z-index: 2;
    }
    .mid_layer {
      transform: translateZ(0);
      color: yellow;
      z-index: 3;
    }
    .top_layer {
      transform: translateZ(150px) scale(0.5);
      color: blue;
      z-index: 4;
    }
    .final_layer {
      transform: translateZ(200px) scale(0.33);
      color: yellow;
      z-index: 5;
    }
  }

  #intro {
  }
  #group-1 {
  }
  #group-1 > .base_layer {
    background-color: $primary;
  }
  #group-2 {
  }
  #group-2 > .base_layer {
    background-color: $secondary;
  }
  #group-3 {
  }
  #group-3 > .base_layer {
    background-color: $primary;
  }
  #group-4 {
  }
  #group-4 > .base_layer {
    background-color: $secondary;
  }
  #outro {
  }
}
