// app global css in SCSS form

/* SCSS syntax is similar to css with addition of variables,
nesting, mixins(@mixin-@include) with arguments, and functions. */

/* Scroll Bar start*/
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.162);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $accent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000;
}
/* Scroll Bar end*/

/* header doclayout start */
.header-image {
  width: 500px;
  height: 600px;
  z-index: -1;
  display: block;
  opacity: 1;
}

.ds {
  transform: scale(0.4) translateX(-50%);
}

.enlarge {
  transform: scale(1.45);
}

.lfls {
  width: fit-content;
}

.GL {
  &__toolbar-link {
    a {
      color: white;
      text-decoration: none;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
/* header doclayout end */

/* Footer doclayout Start*/
.ms {
  transform: scale(0.5);
}

/* Footer doclayout Start*/
